.article-view blockquote {
    font-weight: 500;
    font-style: italic !important;
    color: #111827;
    border-left-width: 0.25rem;
    border-left-color: #e5e7eb;
    margin-top: 1.6em;
    margin-bottom: 1.6em;
    padding-left: 1em;
}

.article-view pre {
    padding: 20px;
    background-color: #e5e7eb;
    border-radius: 5px;
    overflow: auto;
}

.article-view a:hover {
    color: green;
    text-decoration: underline;
}
