@tailwind base;
@tailwind components;
@tailwind utilities;

blockquote {
    font-weight: 500;
    font-style: italic !important;
    color: #111827;
    border-left-width: 0.25rem;
    border-left-color: #e5e7eb;
    quotes: "“" "”" "‘" "’";
    margin-top: 1.6em;
    margin-bottom: 1.6em;
    padding-left: 1em;
}
